<<<<<<< HEAD
<h1><%= @article.title %></h1>
<%= @article.content %>

<form method="post" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" />
</form>
=======
<h2><%= @article.title %></h2>
<h3><%= @article.content %></h3>
>>>>>>> fe8aa34e0ccd1b6d575688ab687d91fd67325720
